.header {
  background: #000;
  padding: 32px 20px;
  margin: 0;
}

.header > div {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  justify-content: space-between;
}

.header > div nav {
  display: flex;
  gap: 40px;
}

.header > div nav a {
  text-decoration: none;
  color: #fff;
}

.header a {
  text-decoration: none;
}

.navegacao a::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s;
}

.navegacao a:hover::after, .navegacao a.ativo::after {
  width: 100%;
}
/* Celular em modo paisagem para tablet em modo retrato */
@media (max-width: 767px) {
  .navegacao a {
    font-size: 0.9rem;
  }

  .header > div nav {
    gap: 30px;
  }
}

/* Celulares*/
@media (max-width: 480px) {
  .navegacao a {
    font-size: 0.7rem;
  }

  .header {
    padding: 20px 20px;
  }

  .header div {
    display: grid;
    gap: 10px;
  }

  .header > div nav {
    gap: 10px;
  }
}
